extends ../layout/layout.pug

block vars
    - var data_page = data.page_contact

block header
    include ../layout/general/header
    |
    |
block content
    |
    |
    include ../layout/contact/contact
    |
    |
    include ../layout/benefit/benefit
    |
    |
block footer
    include ../layout/general/footer
    |
    |
    include ../layout/scrolltop/scrolltop
    |
    |