extends ../layout/layout.pug

block vars
    - var data_page = data.page_home

block header
    include ../layout/general/header
    |
    |
block content
    |
    |
    include ../layout/slider/slider
    |
    |
    include ../layout/newproduct/newproduct
    |
    |
    include ../layout/sale/sale
    |
    |
    include ../layout/productsale/productsale
    |
    |
    include ../layout/benefit/benefit
    |
    |
block footer
    include ../layout/general/footer
    |
    |
    include ../layout/scrolltop/scrolltop
    |
    |