extends ../layout/layout.pug

block vars
    - var data_page = data.page_product

block header
    include ../layout/general/header
    |
    |
block content
    |
    |
    include ../layout/product/product
    |
    |
    
block footer
    include ../layout/general/footer
    |
    |
    include ../layout/scrolltop/scrolltop
    |
    |