//Sale
.deal_ofthe_week
    .container
        .row.align-items-center
            .col-lg-6
                .deal_ofthe_week_img
                    img(src='images/sale.png' alt='')
            .col-lg-6.text-right.deal_ofthe_week_col
                .deal_ofthe_week_content.d-flex.flex-column.align-items-center.float-right
                    .section_title
                        h2 Deal Of The Week
                    ul.timer
                        li.d-inline-flex.flex-column.justify-content-center.align-items-center
                            #day.timer_num 03
                            .timer_unit Ngày
                        li.d-inline-flex.flex-column.justify-content-center.align-items-center
                            #hour.timer_num 15
                            .timer_unit Giờ
                        li.d-inline-flex.flex-column.justify-content-center.align-items-center
                            #minute.timer_num 45
                            .timer_unit Phút
                        li.d-inline-flex.flex-column.justify-content-center.align-items-center
                            #second.timer_num 23
                            .timer_unit Giây
                    .red_button.deal_ofthe_week_button
                        a(href='#') Mua ngay

//End Sale