// slider
.carousel.slide(data-ride='carousel')
    .carousel-inner
        .carousel-item.active
            img.d-block.w-100(src='images/slider_1.png' alt='First slide')
        .carousel-item
            img.d-block.w-100(src='images/slider_2.jpg' alt='Second slide')
        .carousel-item
            img.d-block.w-100(src='images/slider_3.png' alt='Third slide')
// end slider