// slider
.main_slider(style='background-image:url(images/slider_4.png)')
    .container.fill_height
        .row.align-items-center.fill_height
            .col
                .main_slider_content
                    h1  Giảm 20% cho sản phẩm mới
                    .red_button.shop_now_button
                        a(href='#') Mua ngay
// end slider