//Benefit
.benefit
    .container
        .row.benefit_row
            .col-lg-4.benefit_col
                .benefit_item.d-flex.flex-row.align-items-center
                    .benefit_icon
                        i.fa.fa-truck(aria-hidden='true')
                    .benefit_content
                        h6 Miễn phí ship
                        p Giao hàng nhanh chóng
            .col-lg-4.benefit_col
                .benefit_item.d-flex.flex-row.align-items-center
                    .benefit_icon
                        i.fa.fa-undo(aria-hidden='true')
                    .benefit_content
                        h6 Hoàn trả
                        p Hoàn trả trong 7 ngày
            .col-lg-4.benefit_col
                .benefit_item.d-flex.flex-row.align-items-center
                    .benefit_icon
                        i.fa-solid.fa-clock(aria-hidden='true')
                    .benefit_content
                        h6 Hoạt động
                        p Tất cả các ngày trong tuần
//End benefit